#AddInfButtonContainer {
    position: absolute;
}

#add_information {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: rgba(44, 114, 255, 0.651);
    font-size: 30px;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.1);
}