
<div *ngIf="showModal">
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Information update</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <form [formGroup]="informationEditForm" (ngSubmit)="submitForm()">
        <div class="form-group">
          <div>
            <h4>Question: {{ currentQuestion }}</h4>
            <h4>Set advice for following answers:</h4>
            <div>
              <ul class="list-group">
                  <li *ngFor="let item of answersToView" class="list-group-item">{{ item }}</li>
              </ul>
                
            </div>
          </div>
          <quill-editor [style]="{height: '300px'}" id="information" formControlName="textArea" (onContentChanged)="onInformationChange($event);"></quill-editor>
        </div>
      </form>
      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="addInformation(); modal.close('Save click')">Update</button>
    </div>
  </ng-template>
  
  <div id="AddInfButtonContainer" [ngStyle]="{'left.px': x + 100, 'top.px': y}" *ngIf="showAddInformationButton">
    <button style="cursor: pointer" class="btn btn-lg btn-outline-primary" (click)="open(content)">Edit Information</button>
  </div>
  
  <hr>
   
  <pre> {{ closeResult }} </pre>
</div>