
<div class="outer-div" *ngIf="!demoMode">
    <div id="header_student_card">
        <h4>{{ title }}</h4>
    </div>
    <div id="main_student_card">
        <app-block-view 
            [nodeId]='rootIdTest' 
            [nextClicked]='nextClicked' 
            [showPrevious]='showPrevious'
            [sisStackBlock]=''
            [gisStackBlock]=''></app-block-view>
    </div>
</div>

<div *ngIf="demoMode">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Question: {{ currentQuestion }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

        <div id="header_student_card">
            <h4>{{ title }}</h4>
        </div>
        <div id="main_student_card">
            <app-block-view 
                [nodeId]='rootIdTest' 
                [nextClicked]='nextClicked' 
                [showPrevious]='showPrevious'
                [sisStackBlock]=''
                [gisStackBlock]=''></app-block-view>
        </div>
</div>

