#answers_help_container {
    width: 100%;
    height: 170px;
    background-color: rgba(44, 114, 255, 0.651);
}

.gotit_ans {
    pointer-events: visible;
    float: right;
}

#answers_text_helper {
    padding-top: 10px;
    padding-left: 5px;
}

.answer_style {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: rgba(44, 114, 255, 0.651);
    font-size: 40px;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.1);
}

.answerFocused {
    border-style: solid;
    border-width: 0px 0px 1px 4px;
    border-color: rgba(44, 114, 255, 0.651);
    font-size: 40px;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.1);
}

#question_style {
    width: 700px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: rgba(44, 114, 255, 0.651);
    font-size: 40px;
}

#deletion-alert {    
    border-style: solid;
    border-color: red;

    padding: 5px;
    font-size: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    height: 150px;
}

.card-custom {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

#giStyle {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: rgba(44, 114, 255, 0.651);
    font-size: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}