
<form [formGroup]="answersForm" (ngSubmit)="submitForm()">
  <div class="form-group">
      <label for="exampleFormControlSelect2">Select Answer to edit</label>
      <select class="form-control" id="answer_choose" formControlName="answers" (ngModelChange)="onChange($event);" name="sel2">  
        <option *ngFor="let item of children" [value]="item.id">{{ item.answer }}</option>
      </select>
  </div>
  <div>
    <button type="button" class="btn btn-primary btn-sm" (click)='addNewAnswer()'>Add Answer</button>
    <button type="button" class="btn btn-danger btn-sm" *ngIf='showDeleteButton' (click)='deleteAnswer()'>Delete Answer</button>
  </div>

    <div class="form-group">
        <quill-editor *ngIf="showTextEditor" [style]="{height: '250px'}" formControlName="textArea" (onContentChanged)="onChange($event);"></quill-editor>
    </div>
</form>
