<div class="modal-header">
  <h4 class="modal-title">{{ node.question }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="answersForm" (ngSubmit)="submitForm()">
  <div class="modal-body">

      <div class="form-group">
          <label for="exampleFormControlSelect2">Select Answer to edit</label>
          <select class="form-control" id="answer_choose" formControlName="answers" (ngModelChange)="onChange($event);" name="sel2">  
            <option *ngFor="let item of children" [value]="item.id">{{ item.answer }}</option>
          </select>
      </div>
      <div>
        <button type="button" class="btn btn-primary btn-sm" (click)='addNewAnswer()'>Add Answer</button>
        <button type="button" class="btn btn-danger btn-sm" *ngIf='showDeleteButton' (click)='deleteAnswer()'>Delete Answer</button>
      </div>
      
      <br />
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="exampleRadios" formControlName="exampleRadios" value="radio_buttons" checked>
            Radio buttons
        </label> 
        <br />

        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="exampleRadios" formControlName="exampleRadios" value="drop_down" checked>
          Drop Down
        </label> 
        <br />

        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="exampleRadios" formControlName="exampleRadios" value="check_box" checked>
            Check Box (multichoose)
        </label> <br />

        <label class="form-check-label">
            <input class="form-check-input" type="radio" name="exampleRadios" formControlName="exampleRadios" value="buttons" checked>
              Buttons
          </label> <br />
        <br />

        <div class="form-group">
            <quill-editor *ngIf="showTextEditor" [style]="{height: '250px'}" formControlName="textArea" (onContentChanged)="onChange($event);"></quill-editor>
        </div>

      </div>
  <div class="modal-footer">
    <button class="btn btn-success">Update</button>
    <button type="button" class="btn btn-outline-dark" (click)="close()">Close</button>
  </div>
</form>