<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a href="#" (click)="createTree()">Create Tree</a>
  <a href="#" (click)="deleteAllNodes()">Delete All Nodes</a>
</div>

<!-- Use any element to open the sidenav -->
<div id="profile" (click)="openNav()"  [ngStyle]="{'left.px': x, 'top.px': y}" *ngIf="showProfileIcon"></div>

<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">
</div>