.treeList {
    height: 35px;
    width: '600px';
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: rgba(44, 114, 255, 0.651);
    margin-top: 12px;
    padding-bottom: 1px;
}

.button_edit {
    width: 16px;
    height: 16px;
}