<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <div id="container">
      <div class="drop-shadow lifted">
        <h4>Tree list </h4> <br />
        <div class="container-fluid">
          <form >
                  <div class="row" *ngFor="let item of rootId_title; let i = index">
                    <div class="col">
                      <div class="treeList">
                      
                        <div *ngIf="!allowEdit">  
                            <p style="font-size: 15px; cursor: pointer;" 
                              (click)='selectTree(item.rootId)' *ngIf='item.title != ""'>
                              {{ item.title }}
                            </p>
                            <p style="font-size: 15px; cursor: pointer;" 
                            (click)='selectTree(item.rootId)' *ngIf='item.title == ""'>
                            Unnamed tree
                            </p>
                        </div>  
                      </div>
                    </div>
        
                    <div class="col-md-auto">
                        <button class="button_edit" style="cursor: pointer; float: right;  margin-top: 12px;" class="btn btn-md btn-outline-primary" (click)='openTreeManager(item.rootId)'>
                          <img src="https://img.icons8.com/metro/26/000000/edit.png" width="15" heigt="15">
                        </button>   
                    </div>
                  </div>
          </form>
        </div>
      <br />
      <button class="button_edit" style="font-size: 15px; cursor: pointer; float: left;" class="btn btn-md btn-outline-warning" (click)="LogOut()">
            Log out 
        </button>
        <button class="button_edit" style="font-size: 15px; cursor: pointer; float: right;" class="btn btn-md btn-outline-primary" (click)="createTree()">
            Create new Tree 
        </button> <br />
          <hr />

      </div>
    </div>
</div>


<!-- Use any element to open the sidenav -->
<div id="profile" (click)="openNav()"  [ngStyle]="{'left.px': x, 'top.px': y}" *ngIf="showProfileIcon"></div>

<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">
</div>
