<div id="mySidenav_right" class="sidenav_right">
<hr />
  <div id="container" *ngIf="node_present; else showTempHelp">
    <div class="drop-shadow lifted">
      <div class="list-group">
        <p class="h5">Question: </p>
        {{ node_for_right_menu.question }}
  
        <p class="h5">Answers: </p>
        <div *ngFor="let child of children">{{ child.answer }}</div>
        <hr />

        <div class="btn-sup">
        <button class="button button2" (click)="toggleChildren()">Hide children</button>
        <button class="button button2" (click)="deleteNode()" style="background-color: #ff9999">Delete Node*</button>
        </div>
        * All related information and nodes will be deleted
      </div>
      <hr />
    </div>
  </div>
  
  <ng-template #showTempHelp>
    <div id="container">
      <div class="drop-shadow lifted">
        <div class="list-group">
          Click on node to see question and answers of the node
        </div>
        <hr />
      </div>
    </div>
  </ng-template>

</div>
