#cy_information {
    width: 100%;
    height: 300px;
    display: block;
  }

  #information_helper {
    width: 100%;
    height: 90%;
    z-index: 10;
    background-color: rgba(0, 77, 230, 0.2); /*dim the background*/
    pointer-events: none;
  }

  #information_helper {
    padding-top:10px;
    padding-left:5px;
  }