<div class="modal-header">
  <h4 class="modal-title">Edit Information</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="myForm" (ngSubmit)="submitForm()">
<div class="modal-body">
    <div class="container">
        <div class="row">
          <div class="col-md-3">
              <div class="form-group">
                  <form [formGroup]="checkForm" (onChange)="checkFormChanged($event)">
                    <label for="label_control">Show on the tree</label> <br />
                    <input (click)='setQuestionLabel()' type="checkbox" value="" id="checkQuestionLabel">
                    <label class="form-check-label" for="checkQuestionLabel">
                        Question
                    </label><br />
                    <input (click)='setAnswerLabel()' type="checkbox" value="" id="checkAnswer">
                    <label class="form-check-label" for="checkAnswer">
                        Answers
                    </label><br />
                    <input (click)='setQuestionlabelLabel()' type="checkbox" value="" id="checkQuestion">
                    <label class="form-check-label" for="checkQuestion">
                        Question Labels
                    </label>
                  </form>
                </div>
          </div>
          <div class="col">
            <div id="cy_information"></div>
          </div>
        </div>
        <div class="row">
            <div class="col">
                <div  class="alert alert-success" role="alert" *ngIf='showQuestionClickedMessage'>
                    Set general information for the question
                </div>
                <div class="alert alert-success" role="alert" *ngIf='!showTextEditor && !showQuestionClickedMessage'>
                    Click on nodes to set Information
                </div>
                <div class="alert alert-success" role="alert" *ngIf='showTextEditor && !showQuestionClickedMessage'>
                    Information to show when selected following answers: 
                    <ul class="list-group">
                        <li  class="list-group-item" *ngFor="let answer of answerstoShow">{{ answer }}</li>
                    </ul>
                </div>
                <quill-editor 
                    [style]="{height: '400px'}" 
                    formControlName="textArea" 
                    (onContentChanged)="onChange($event);"
                    *ngIf="showTextEditor"
                    ></quill-editor>
            </div>
        </div>
      </div>
  </div>
<div class="modal-footer">
  <button class="btn btn-success">Update</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
</form>