<div class="modal-header">
  <h4 class="modal-title">Edit Node</h4>
</div>
<form [formGroup]="myForm" (ngSubmit)="submitForm()">
  <div class="modal-body">
      <div class="container-fluid">
          <div class="row">
            <div class="col">
              <app-question-edit [node]="node"></app-question-edit>
            </div>
            <div class="col">
              <app-answers-edit [node]="node"></app-answers-edit>
            </div>
          </div>
        </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success">Update</button>
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    </div>
</form>