/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.ql-editor {
    font-size: 20px;
}

.huge-modal .modal-dialog {
    max-width: 80%;
  }

.contextmenu {
    position: absolute;
}

#container {
    width: 600px;
    margin: 0 auto;
  }
  .drop-shadow {
    position: relative;
    float: left;
    width: 40%;
    padding: 1em;
    margin: 2em 10px 4em;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) , 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -mox-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) , 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) , 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }
  .drop-shadow:before,
  .drop-shadow:after {
    content: "";
    position: absolute;
    z-index: -2;
  }
  .drop-shadow p {
    font-size: 16px;
    font-weight: bold;
  }
  .lifted {
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .lifted:before,
  .lifted:after {
    bottom: 15px;
    left: 10px;
    width: 50%;
    height: 20%;
    max-width: 300px;
    max-height: 100px;
    -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    -mox-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  .lifted:after {
    right: 10px;
    left: auto;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  
  .button {
    background-color: #5c85d6; /* Green */
    border: none;
    color: white;
    padding: 1px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    height:30px;
}


#profile {
    position: absolute;
    background-image: url(data/img/profile.svg);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}

#supporter{
    position: absolute;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgba(0, 0, 0, 0.2); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav_right {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 10px;
    pointer-events: none;
  }
.sidenav_right a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav_right a:hover {
    color: #f1f1f1;
}

.sidenav_right .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}




/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

#main_right {
    margin-right: "250px";
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.menu {
    width: 180px;
    box-shadow: 0 4px 5px 3px rgba(10, 10, 10, 0.2);
    background-color:rgba(0, 0, 0, 0.3);
    color: white;
    position: absolute;
}

.menu-options {
      list-style: none;
      padding: 1px 0;
}
  
.menu-option {
    font-weight: 500;
    font-size: 19px;
    padding: 6px 2px 3px 5px;
    cursor: pointer;
}
.menu-option:hover {
          background: rgba(0, 0, 0, 0.2);
}

