<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="radial_menu" [ngStyle]="{'left.px': x, 'top.px': y - 10}">
  <input type="checkbox" id="toggle" />
  <label id="show-menu" for="toggle">
    <div class="btn">
      <i class="material-icons md-36 toggleBtn menuBtn">menu</i>
      <i class="material-icons md-36 toggleBtn closeBtn">close</i>
    </div>
    <div class="btn">
        <i class="material-icons">visibility_off</i>
    </div>
    <div class="btn">
      <p (click)="toggleClick()">toggle</p>
    </div>
  </label>
</div>