
<div id="supporter" [ngStyle]="{'left.px': x, 'top.px': y}">
  <div id='piemenu' data-wheelnav
  data-wheelnav-slicepath='DonutSlice'
  data-wheelnav-rotateoff
  data-wheelnav-navangle='270'
  data-wheelnav-titleheight='45'
  data-wheelnav-cssmode 
  data-wheelnav-init>
   <div data-wheelnav-navitemicon='check' onmouseup='alert("Place your logic here.");'></div>
   <div data-wheelnav-navitemimg='http://pmg.softwaretailoring.net/img/pmg_favicon.png' onmouseup='alert("Place your logic here.");'></div>
   <div data-wheelnav-navitemicon='checkbox' onmouseup='alert("Place your logic here.");'></div>
 </div>
</div>