
<div id="supporter" *ngIf="showRadialMenu" [ngStyle]="{'left.px': x - 111, 'top.px': y - 111}">
  <div id='piemenu' data-wheelnav
  data-wheelnav-slicepath='DonutSlice'
  data-wheelnav-rotateoff
  data-wheelnav-navangle='270'
  data-wheelnav-titleheight='45'
  data-wheelnav-cssmode 
  data-wheelnav-init>
   <div data-wheelnav-navitemicon='check' onmouseup='alert("Place your logic here.");'></div>
   <div data-wheelnav-navitemicon='check' onmouseup='alert("Place your logic here.");'></div>
   <div data-wheelnav-navitemicon='check' onmouseup='alert("Place your logic here.");'></div>
 </div>
</div>